<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Welcome</h3>
                </div>
                <div class="panel-body text-center">
                  <button type="button" onclick="swagger()" class="btn btn-default">Swagger</button>
                  <button type="button" class="btn btn-default disabled">Login</button>
                    <!-- <form name="loginForm" novalidate ng-submit="userLogin()">
                        <fieldset>
                            <div class="form-group">
                              <input type="email" ng-model="credentials.email" class="form-control" id="email" placeholder="Email" required>
                            </div>
                            <div class="form-group">
                            <input type="password" ng-model="credentials.password" class="form-control" id="password" placeholder="Password" required>
                            </div>
                            <button type="submit" class="btn btn-lg btn-success btn-block" ng-disabled="loginForm.$invalid">Login</button>
                        </fieldset>
                    </form> -->
                </div>
            </div>
        </div>
    </div>
</div>

<script>
function swagger() {
  window.location.href = '/swagger';
}
</script>
