<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Try the Auto Generated Swagger Doc</h3>
                </div>
                <div class="panel-body text-center">
                  <p>(It is generated while defining the GET+POST param for swagger)</p>
                  <button type="button" onclick="swagger()" class="btn btn-default">Swagger</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Some Intro</h3>
                </div>
                <div class="panel-body">
                  <p>This app is served over heroku so the initial start time will be a bit slow :)</p>
                  <p>You can use FawkesJS along with other technology such as graphql, nosql etc.</p>
                  <p>You can use FawkesJS as a single page application or server rendered multi-page application, just like what NodeJS can do.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
function swagger() {
  window.location.href = '/swagger';
}
</script>
